<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="float: left;">
   <h1>Add a book</h1>
   <form action="add" method="POST">
       {% csrf_token%}

    <input type="text"  name="title" placeholder="title">

<br>
    <textarea name="description" id="" cols="30" rows="10" placeholder="description"></textarea>
    <br>

    <button>submit</button>


   </form>
</div>

<div style="float: right;">
   <table>

    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>action</td>
    </tr>
    {% for book in books %}
<tr>
    <td>{{book.id}}</td>
   <td>{{book.title}}</td> 
   <td> 
       <a href="/shows/{{book.id}}">show</a>
</td> 

    {%endfor%}
</tr>
   </table>
</div>

</body>
</html>