header{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div { 
    height:50px;
    width:50px;
}
.black {
    background-color: black;
}

.red {
    background-color: red;
}