<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Ninja Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>your gold: {{score}}</p>
    <section>
        <div class="box">
            <h3>Farm </h3>
            <p>(earns 10-20 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="forms" value="farm">
                <button >Find Gold!</button>
            </form>
        </div>
        <div class="box">
            <h3>Cave</h3>
            <p>(earns 5-10 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="forms" value="cave">
                <button >Find Gold!</button>
            </form>
        </div>
        <div class="box">
            <h3>House </h3>
            <p>(earns 2-5 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="forms" value="House">
                <button >Find Gold!</button>
            </form>
        </div>
        <div class="box">
            <h3>Casino</h3>
            <p>(earns/takes 0-50 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="forms" value="Casino">
                <button >Find Gold!</button>
            </form>
        </div>
    </section>
    <article>
        <p>Activities</p>
        <div class="act">
        {% for i in activity%}
        {%if 'LOST' in i %}
    
        <p style="color: red;">{{i}}</p>
        {% else %}
        <p style="color: green;">{{i}}</p>

        {% endif %}
        {% endfor%}</div>
        <form action="clear">
        <BUtton >CLEAR!</BUtton>
    </form>
    </article>
</body>
</html>